body {
    background-color: pink;
}

.movie-card{
    border: 10px solid hotpink;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.movie-card img {
    max-width: 100%;
    border-radius: 5px;
}